# .gitignore
# Things git should ignore
plugin/packer_compiled.*

./plugins/
.cache/
.init.vim-rplugin~
.netrwhist
.lazy-lock.json
Removed-Bundles/
_vimscript/
bundle/
lua/_plugins/
sessions/
shada/
tmp/
yankring_history_v2.txt

lazy-lock.json
